<div class="container-fluid p-3">
    <h1>Configuração</h1>

    <div class="card p-3">
        <h3>Tema de cores</h3>
        <form class="form-group">
            <label for="trocar-tema" class="form-label">Escolha um tema</label>
            <select
                name="trocar-tema"
                id="trocar-tema"
                class="form-control ml-auto"
                [(ngModel)]="temaEscolhido"
                (ngModelChange)="trocarTema()"
            >
                <option value="dark">Escuro</option>
                <option value="light">Claro</option>
            </select>
        </form>
    </div>
</div>
