
<div class="container-fluid p-3">
    <h1>Tarefas</h1>
    <app-buscador />
    <div class="row">
        <span class="col">
            <button class="btn btn-primary" (click)="abrirDialogo()">Adicionar</button>
        </span>
        <div class="col col-auto">
            <span class="p-3">
                <input id="alternarCheckbox" type="checkbox" class="p-3" [(ngModel)]="ocultarFinalizadas" (ngModelChange)="alternarFinalizadas()"/>
                <label for="alternarCheckbox" class="col-form-label">Ocultar Finalizadas</label>
            </span>

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="card p-3 table table-striped table-responsive">
        <table>
            <tr>
                <th>Id da tarefa</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Finalizada</th>
                <th>Data início</th>
                <th>Data Término</th>
                <th>&nbsp;</th>
            </tr>
            @for (tarefa of tarefasFiltradas$ | async; track tarefa.id) {
                <tr>
                    <td >{{tarefa.id}}</td>
                    <td class="{{tarefa.finalizada ? 'cortado': ''}}">{{tarefa.nome}} </td>
                    <td class="{{tarefa.finalizada ? 'cortado': ''}}">{{tarefa.descricao}} </td>
                    <td >{{tarefa.finalizada ? 'Sim': 'Não'}} </td>
                    <td>{{tarefa.dataInicio | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{tarefa.dataTermino | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <button class="btn btn-close" [disabled]="tarefa.finalizada" (click)="excluir(tarefa.id)"></button>
                        <button class="btn btn-primary" [disabled]="tarefa.finalizada" (click)="alterarTarefa(tarefa.id)">Alterar</button>
                        <button class="btn btn-primary" [disabled]="tarefa.finalizada" (click)="finalizarTarefa(tarefa.id)">Finalizar</button>
                    </td>
                    
                </tr>
            }
        </table>
    </div>
</div>
