<div class="container-fluid p-3">
    <h1>Tarefas</h1>
    <app-buscador (aoBuscar)="alternarFinalizadas()" />
    <div class="row">
        <span class="col">
            <button class="btn btn-primary" (click)="abrirDialogo()">
                Adicionar
            </button>
        </span>
        <div class="col col-auto">
            <span class="p-3 form-switch">
                <input
                    id="alternarCheckbox"
                    type="checkbox"
                    class="form-check-input"
                    role="switch"
                    [(ngModel)]="ocultarFinalizadas"
                    (onchange)="alternarFinalizadas()"
                    (ngModelChange)="alternarFinalizadas()"
                />
                <label for="alternarCheckbox" class="px-1 form-check-label"
                    >Ocultar Finalizadas</label
                >
            </span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card p-3 table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Id da tarefa</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Finalizada</th>
                    <th>Data início</th>
                    <th>Data Término</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @for (tarefa of tarefasFiltradas$ | async; track tarefa.id) {
                <tr>
                    <td>{{ tarefa.id }}</td>
                    <td class="{{ tarefa.finalizada ? 'cortado' : '' }}">
                        {{ tarefa.nome }}
                    </td>
                    <td class="{{ tarefa.finalizada ? 'cortado' : '' }}">
                        {{ tarefa.descricao }}
                    </td>
                    <td>{{ tarefa.finalizada ? "Sim" : "Não" }}</td>
                    <td>{{ tarefa.dataInicio | date : "dd/MM/yyyy HH:mm" }}</td>
                    <td>
                        {{ tarefa.dataTermino | date : "dd/MM/yyyy HH:mm" }}
                    </td>
                    <td>
                        <button
                            class="btn btn-danger m-1"
                            [disabled]="tarefa.finalizada"
                            (click)="excluir(tarefa.id)"
                            aria-label="Excluir"
                        >
                            Excluir
                        </button>
                        <button
                            class="btn btn-primary m-1"
                            [disabled]="tarefa.finalizada"
                            (click)="alterarTarefa(tarefa.id)"
                        >
                            Alterar
                        </button>
                        <button
                            class="btn btn-primary m-1"
                            [disabled]="tarefa.finalizada"
                            (click)="finalizarTarefa(tarefa.id)"
                        >
                            Finalizar
                        </button>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <strong
                        >Nenhuma tarefa encontrada para o filtro
                        selecionado</strong
                    >
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <span class="col"
            ><strong
                >Total de tarefas encontradas:
                {{ (tarefasFiltradas$ | async)?.length }}
            </strong></span
        >
    </div>
</div>
