<div class="container-fluid mb-3 card p-3">
    <form class="form-group" (ngSubmit)="buscar()">
        <div class="row">
            <label for="buscar">Nome da Tarefa:</label>
            <span class="col-8">
                <input
                    type="search"
                    class="form-control"
                    placeholder="Filtro por nome de Tarefa(Vazio, busca todas as tarefas)"
                    id="buscar"
                    name="buscar"
                    [(ngModel)]="texto"
                />
            </span>
            <span class="col-4">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </span>
        </div>
    </form>
</div>
